body {
    height: 100%;
    margin: 0;
}



.container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}


.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    
}

.logo {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    font-family: 'proxima nova', sans-serif;
}
    
ul {
    display: flex;
    color:#F9FAF8;
    font-family: 'proxima nova', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 25px;
}



.hero {
    display: flex;
    padding: 30px;
    background-color: #1f2937;
    justify-content: center;
    align-self: center;
    width: auto;
    height: auto;
    padding-top: 50px;
    gap: 200px;
}

.hero-text {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
    font-family: 'proxima nova', sans-serif;
    margin: 0;

}

p {
    font-size: 18px;
    color: #e5e7eb;
    font-family: 'proxima nova', sans-serif;
    margin: 0;
}

button {
    align-self: flex-start;
    margin-top: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 5px;
    border-radius: 6px;
    border: none;
    width: 8em;
    height: 2.5em;
}

.hero-image {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 300px;
    width: 300px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.random-info-top {
    font-size: 36px;
    font-family: 'proxima nova', sans-serif;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 20px;

}

.random-info-bot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    gap: 100px;
}

.info-1, .info-2, .info-3, .info-4 {
    border: 3px solid #3882F6;
    border-radius: 12px;
    width: 150px;
    height: 150px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtext {
    display: flex;
    align-self: center;
    font-family:'proxima nova', sans-serif;
    font-size: 16px;
    width: 150px;
    text-align: center;

}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 90px 30px;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    font-family: 'proxima nova', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    
}

.quote-name {
    font-size: 12x;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    font-family: 'proxima nova', sans-serif;
    text-align: right ;

}

.call-to-action {


}

.footer {


}