.container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}


.header {
    background-color: #1f2937;
    width:auto;
    height: 500px;

}

.hero {


}

.random-info {


}

.testimonials {


}

.call-to-action {


}

.footer {


}